.container-fluid h1{
    font-size: 40px;
    font-family: stencil;
}
.outer{
    position: fixed;
    width:90px;
    height:80px;
    padding:20px;
    /* background-color: #455871; */
    background-color: #5b6777;
    /* background-color: #3e4e62; */
}
.inner{
    /* background-color: aqua; */
    padding: 10px;
}
#first{
    position: absolute;
    left:22px;
    top:20px;
    width:40px;
    height:3px;
}
#second{
    position: absolute;
    left:22px;
    top:35px;
    width:40px;
    height:3px;
}
#third{
    position: absolute;
    left:22px;
    top:50px;
    width:40px;
    height:3px;
}
.lines{
    background-color: #fff;

}
.menu{
    background-color: #455871;
    position: absolute;
    top:10.5%;
    height: 672px;
    width: 90px;
    position: fixed;
    display: none;
    padding: 5px;
}
.outer:hover{
    background-color: ;
}
#close{
    display: none;
}
.menu img{
    border-left: 0px;
    margin-left: 17%;
    margin-top: 70%;
    margin-bottom: 10%;
}
.menu img:hover{
    transition: 0.2s ease-in-out;
    background-color: #fa5252;
}
.cover{
    height:140px;
}
.cover:hover{
    transition: 0.2s ease-in-out;
    background-color: #fa5252;
}
#one{
    color:#fff;
    height: 750px;
    /* background-color: #455871; */
}
#two{
    color:#fff;
    height: 750px;
    /* background-color: #455871; */
}
#three{
    color:#fff;
    height: 750px;
    /* background-color: #455871; */
}
#four{
    color:#fff;
    height: 750px;
    /* background-color: #455871; */
}
section{
    background-color: #2d3d51;
}
.container-fluid{
    background-color: #151e28;
}
.back{
    margin-left:20%;
    padding:10px;
}
hr{
    background-color: #fff;
}
.content{
    color:#ddd;
    font-family: verdana;
    margin-top:8%;
    padding: 20px;
    background-color: #455871;
}
.next_btn{
    background-color:#fa5252;
    color:#fff;
    padding:12px;
    border:2px solid #fa5252;
}
.next_btn:hover{
    transition: 0.2s ease-in-out;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}